# Node, Coverage, NPM
/.nyc_output
/coverage
/coverage.lcov
/package-lock.json
/*.tgz


# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.lock
*.rdb
*.db
nohup.out

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.*-project
*.*-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
old/
*-old/
*-notrack/
no-track/
build/
combo/
reference/
jscoverage_lib/
temp/
tmp/

# Java
.mvn
.gradle
.vscode
.project
.classpath
/gradle
